.header {
    @extend %margin-bottom-lg;
}

.header-logo {
    padding: 100px 0;
    text-align: center;
    background-color: $color-dark;
    background-image: url(../img/header-bg.jpg);
    background-position: 50% 50%;
    background-size: cover;

    &__title {
        color: $color-accent;
        display: block;
        font-family: $font-header;

        font-size: 3.5rem;
        letter-spacing: 0.33em;
        margin-right: -$gap;

        @extend %text-shadow;
    }

    &__description {
        color: $color-light;
        display: block;
        font-size: 1.15rem;
        letter-spacing: 0.2em;

        @extend %text-shadow;
    }
}