.header-logo__title, .header-logo__description {
  text-shadow: 0 0 5px black, 0 0 20px black;
}

.header {
  margin-bottom: 80.0px;
}

.navbar-inverse {
  margin-bottom: 0;
  background-color: #191919;
  border-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #053159;
}

.navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #517ba2;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  background-color: #165690;
}

.navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;
  margin-right: 0;
}

html {
  font-size: 16px;
  overflow-y: scroll;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
}

a {
  color: #165690;
}

a:hover, a:focus {
  text-decoration: none;
  color: #df8a13;
}

h1 {
  font-family: "PT Serif", serif;
}

h2 {
  font-family: "PT Serif", serif;
}

.header-logo {
  padding: 100px 0;
  text-align: center;
  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-position: 50% 50%;
  background-size: cover;
}

.header-logo__title {
  color: #df8a13;
  display: block;
  font-family: "PT Serif", serif;
  font-size: 3.5rem;
  letter-spacing: 0.33em;
  margin-right: -15px;
}

.header-logo__description {
  color: #ffffff;
  display: block;
  font-size: 1.15rem;
  letter-spacing: 0.2em;
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li > a {
    border-radius: 4px;
  }
  .navbar-left li {
    margin: 5px 5px 5px 0;
  }
  .navbar-right li {
    margin: 5px 0 5px 5px;
  }
}

@media (max-width: 767.8px) {
  .navbar-inverse .navbar-nav > li > a {
    text-align: center;
  }
  .navbar-left {
    margin-bottom: 0;
  }
  .navbar-right {
    margin-top: 0;
  }
}
